@font-face {
    font-family: 'linn-light';
    src: url(./LINN-CARACAS-LIGHT.OTF)format('truetype');
}
@font-face {
    font-family: 'linn-regular';
    src: url(./LINN-CARACAS.OTF)format('truetype');
}
@font-face {
    font-family: 'linn-medium';
    src: url(./Linn-Caracas-Medium.otf)format('truetype');
}